%script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyDfm3fcuLClg06H4A72FmuQVqxy1eSbdgE&sensor=false", :type => "text/javascript"}
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
%script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"}
%script{:src => "http://malsup.com/jquery/block/jquery.blockUI.js"}
%script{:src => "/assets/index.js", :type => "text/javascript"}
%script{:src => "/assets/mapfunctions.js", :type => "text/javascript"}
%script{:src => "/assets/YelpLocationService.js", :type => "text/javascript"}
%script{:src => "http://malsup.github.com/jquery.form.js", :type => "text/javascript"}
%link{:href => "/assets//master.css", :rel => "stylesheet", :type => "text/css"}
%link{:href => "/assets/reset.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/assets/common.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans:700", :rel => "stylesheet", :type => "text/css"}
%link{:HREF => "http://venuespot.net/images/favicon.ico", :REL => "SHORTCUT ICON"}
:css
  .hide { display:none; }
  a {color:#FFF}
  a.btn-2 {background:#febc00 url(/assets/btn-bg.gif) repeat-x left top; border:1px solid #252525; color:#613a02; font-size:24px; font-weight:bold; padding:12px 30px; text-decoration:none; text-shadow:0 1px 0 rgba(255,255,255,.6); -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; display:block}
  .so-ctr {position:absolute; right:0; height:100%; min-height:100%; max-height:100%; width:336px;background:#f1bf25; background:#000; background:rgba(0,0,0,.8)}
  .so-inner {padding:25px}
  .venue-feature {width:198px; float:right}
  .venue-details ul { list-style-type:none; margin:0 0 25px 0; padding:0}
  .venue-details li { padding:8px 0; margin:0}
  .venue-title {font-size:16px; color:#FFF}
  .venue-location {font-size:12px; color:#797979}
  .venue-price {color:#fecf00; font-size:20px; font-weight:bold}
  .spot {background:#202020; padding:10px 15px ; margin-bottom:2px}
  .spot-name {font-size:14px; font-weight:bold; color:#fecf00}
  .categories-bg {background:#161616; padding:15px 25px 25px; border-top:1px solid #494948; border-top:1px solid #363636}
  .bdr-btm {border-bottom:1px dotted #3e3e3e}
  html {
    background: url(/assets/map-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin:0; padding:0;
  }
  td {
    vertical-align:top;
    text-align:right;
  }
  input {
    border: 2px solid #E8E8E8;
    border-radius: 3px 3px 3px 3px;
    color: gray;
    font-family: Trebuchet MS;
    font-size: 17pt;
    margin: 5px;
    padding: 5px;
    vertical-align:top;
  }
  #ad_title{
    height:40px;
    width: 304px;
  }
  #ad_description {
    height: 94px;
    width: 350px;
    vertical-align:top;
    border: 2px solid #E8E8E8;
    border-radius: 3px 3px 3px 3px;
    color: gray;
    font-family: Trebuchet MS;
    font-size: 17pt;
    margin: 5px;
    padding: 5px;
    vertical-align:top;
  }
  #header {
    width:100%;
    background: black
  }
  #header img {
    margin: 10px;
  }
  #modal {
    width:720px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.84);
  }
  .tableContainer{
    background: url(/assets/spacer.png) repeat white;
    border-radius: 0 5px 5px 5px;
    padding: 10px;
  }
  .mapAdContainer:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    left:30px;

    border: 10px solid transparent;
    border-top-color: #333;
  }
  #mapAd.ad {
    background: url("/assets/spacer.png") repeat scroll 0 0 white;
    border-radius: 0 5px 5px 5px;
    margin: 10px;
    padding: 10px;
    text-align: left;
    width:550px
  }
  #mapAd td {
    text-align:left;
  }
  #test {
    z-index: 10000;
  }
  .ad{
    background: url(/assets/spacer.png) repeat white;
    border-radius: 0 5px 5px 5px;
    padding: 10px;
  }
    text-align:left;
  .ad td {
    text-align: left;
  }
  .ad table {
    width: 100%;
  }
  .ad .title {
    color: #0272AE;
    font-size:16pt;
  }
  .ad .postedBy{
    color: #B0B0B0;
    font-family: Helvetica;
    font-size: 8pt;
  }
  .ad .description{
    font-style:italics;
    color: #959595;
    font-size:12pt;
  }
  .ad #message {
    font-color: darkred;
    text-align:center;
  }
  .ad img {
    width:150px;
    margin: 20px;
  }
  .ad #thumbnail {
    text-align:right;
  }

  .postButton {
    background: url(/assets/post-button.png) no-repeat transparent;
    height: 46px;
    border: none;
    height: 46px;
    width: 120px;
  }
  .searchButton {
    background: url(/assets/search-button.png) no-repeat transparent;
    height: 46px;
    border: none;
    height: 46px;
    width: 120px;
  }
  #ad_image{
    opacity: 0;
    z-index:2;
    width: 318px;
  }
  #wrapper {
    width: 318px;
    height: 40;
    position:relative;
  }
  #browse {
    background: url("/assets/browse.png") no-repeat scroll left top transparent;
    display: table-cell;
    font-family: Trebuchet MS;
    font-size: 17pt;
    height: 46px;
    margin-right: 10px;
    padding-left: 10px;
    position: absolute;
    text-align: left;
    top: 5px;
    left: 5px;
    vertical-align: middle;
    width: 318px;
    color: gray;
  }
  #browse span {
    position: absolute;
    top: 5px;
  }
  #tab1 {
    float: left;
    width: 186px;
    height:43px;
    background: url(/assets/want-tab-normal.png);
    margin-right: 5px;
    cursor:pointer;
  }
  #tab1.active {
    background: url(/assets/want-tab-active.png);
    width: 190px;
  }
  #tab2{
    float: left;
    background: url(/assets/have-tab-normal.png);
    width: 180px;
    height:43px;
    cursor:pointer;
  }
  #tab2.active{
    background: url(/assets/have-tab-active.png);
    width: 190px;
  }
  .clear {
    clear:both;
  }
  h1, h2, h3, h4 {
    margin-bottom:0px;
  }
  #header { z-index: 10000;}
  #messageMe { 
    background: url(/assets/message-me.png);
    width: 78px;
    height: 30px;
  }
  #trade{
    background: url(/assets/trade.png);
    width: 105px;
    height: 32px;
  }

%script{:type => 'text/javascript'}
  :plain
    var lat, lon;
    var successCallback = function(result){
      coords = result.coords;

      lat = coords.latitude;
      lon = coords.longitude;

      $("#ad_latitude").val(lat)
      $("#ad_longitude").val(lon)
      $("input:submit").attr("disabled", false)

    }

    var errorCallback = function(){
      alert("Support This!");
    }

    if(geo_position_js.init()){
       geo_position_js.getCurrentPosition(successCallback,errorCallback);
    }else{
      alert("Failed to get your location.");
    }


    $(function() {
      $("form.submit").text("Loading").attr("disable", true)
      $.blockUI({
        message: $('#modal'),
        bindEvents: false,
        css: {
          width: '720px',
          left: '30%',
          top:'30%',
          background: 'transparent',
          border: 'none'
        },
        overlayCSS: {
          opacity: 0
        },
      })
      $("#ad_image").change(function(){
        focusInput: false
        $("#browse").text($("#ad_image")[0].files[0].name);
      });
      $("#ad_description").data('default', $("#ad_description").val());
      $("#ad_title").data('default', $("#ad_title").val());
      $(".searchInput").data('default', $(".searchInput").val());
      $(".searchInput").focus(function(){
        if($(this).val() == $(this).data('default')){
          $(this).val('');
        }
      });
      $("#ad_description").focus(function(){
        if($(this).val() == $(this).data('default')){
          $(this).val(''); 
        }
      });
      $("#tab1").click(function(){
        $("#tab1").addClass('active');
        $("#tab2").removeClass('active');
        $("#showAd").hide
        $("#new_ad").hide();
        $("#searchAd").show();
      });
      $("#tab2").click(function(){
        $("#tab2").addClass('active');
        $("#tab1").removeClass('active');
        $("#showAd").hide();
        $("#new_ad").show();
        $("#searchAd").hide();
      });
      $("#ad_title").focus(function() { 
        if($(this).val() == $(this).data('default')) {
          $(this).val('');
        }
      });
      $("#searchAd").submit(function(evt){
        var $form = $(this);
        evt.preventDefault();
        $.unblockUI();
        var url = '/ad?title=' + $form.find('.searchInput').val();

        $.getJSON(url, function(ads) {

          $("#modal").hide();
          $("#googleMap").show();
          Geocoder = new google.maps.Geocoder();
          var latlng = new google.maps.LatLng(lat, lon);
          var myOptions = {
            zoom: 13,
            center: latlng,
            mapTypeControl: false,
            mapTsypeControlOptions: {
              style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
            },
            zoomControl: false,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.SMALL
            },
            mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          map = new google.maps.Map(document.getElementById("googleMap"), myOptions);

          for(var i=0; i < ads.length; i++){
            GeoSetAddress(Geocoder, map, ads[i].latitude, ads[i].longitude, ads[i]);
          }

        });
        function GeoSetAddress(geocoder, map, lat, lon, ad) {

          /*
           var image = new google.maps.MarkerImage('/assets/spot_contact.png');
          var marker = new google.maps.Marker({
            map: map,
            icon: image,
            position: new google.maps.LatLng(lat, lon)
          });
          */

          var showAd = $("#mapAd").clone();
          var thumbnail = $('<img src=' + ad.image_url + '/>');
          showAd.find("#thumbnail").html(thumbnail);
          showAd.find(".title").text(ad.title);
          showAd.find(".description").text(ad.description);
          showAd.find(".postedBy").html("Posted by <a href='#'/>ad.user_email</a>");
          showAd.show();
          var overlayContent = $("<div/>").append(showAd).html();

          new MyCustomOverlay(overlayContent, lat, lon, map);
        }

    });

    $("#new_ad").ajaxForm(function(ad) {
        var showAd = $("#showAd");
        var thumbnail = $('<img src=' + ad.image_url + '/>');
        showAd.find("#thumbnail").html(thumbnail);
        showAd.find(".title").text(ad.title);
        showAd.find(".description").text(ad.description);
        showAd.find(".postedBy").html("Posted by <a href='#'/>ad.user_email</a>");
        $("#new_ad").hide();
        showAd.show();
    });

  });

#header
  %img{:src=>'/assets/logo.png'}

#googleMap{:style => "z-index:0; height:100%;width:100%;display:none;"}

#modal.hide
  #tab1
  #tab2.active
  .clear
  #searchAd.hide
    %form{:action=> "/ad", :method => "get"}
      %div.tableContainer
        %table
          %tr
            %td
              %input.searchInput{:type=>'text', :value => "Food Name"}
            %td{"rowspan" => "2"}
              = submit_tag "", :class => "searchButton", :tabindex=>"0"

  #mapAd.hide.ad
    %table
      %tr
        %td#thumbnail{ :align=>'right'}
        %td{:align=>'left'}
          %h3.title
          %h6.postedBy
            Anthony Capone
          %p.description
          %div
            %button#messageMe
            %button#trade

  #showAd.hide.ad
    %table
      %tr
        %td{ :colspan => 2, :style => 'text-align:center;'}
          %h5#message
            You been posted son!
      %tr
        %td#thumbnail{ :align=>'right'}
        %td{:align=>'left'}
          %h3.title
          %h6.postedBy
            Anthony Capone
          %p.description

  = form_for @ad, :url => "/ad", :method => "post" do |form|
    = form.hidden_field :longitude
    = form.hidden_field :latitude
    %div.tableContainer
      %table
        %tr
          %td
            = form.text_field :title, :value => "Food Name", :tabindex => "-1"
          %td{"rowspan" => "2"}
            %textarea{:name => "ad[description]", :id => "ad_description"}
              Add a short description
        %tr
          %td
            #wrapper
              %div#browse
                %span
                  Upload Image
              = form.file_field :image, :tabindex => "1"

        %tr
          %td
          %td
            = submit_tag "", :disabled => "true", :class => "postButton", :tabindex=>"0"
